@import url(./font.css);

:root {
    --red-color:red;
    --dark-grey-color:#48555B;
    --light-color:#FFFFFF;
}

/* BASIC CONF */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

button {
    border: none;
    background: none;
}
/* BASIC CONF */

/* UNIQUE */
.container {
    max-width: 941px;
    padding: 0 10px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.align__center {
    align-items: center;
}

.justify__between {
    justify-content: space-between;
}

.lowercase {
    text-transform: lowercase;
}

/* UNIQUE */


/* HERO SECTION */

.hero {
    align-items: center;
    justify-content: space-between;
    padding: 41px 0 74px;
    flex-direction: column;
    display: flex;
    background: url("../images/bg1.webp") no-repeat center/cover fixed;
    width: 100%;
    height: 100vh;
}

.hero__text {
    color: var(--light-color);    
}

.hero__title {
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
    letter-spacing: 5.70937px;
    line-height: 70px;
    font-size: 60px;
}

.hero__desc {
    letter-spacing: 2px;
    text-align: center;
    font-size: 500;
    line-height: 10px;
    font-size: 18px;
}

.hero__link {
    letter-spacing: 3px;
    color: inherit;
    text-decoration: none;
    color: var(--light-color);
}

.hero__link:hover {
    color: var(--red-color);
    transition: 1s;
    font-size: 15px;
}

/* HERO SECTION */

/* HEADER SECTION */
.header {
    position: sticky;
    top: 0;
    border: 1px solid #E6E6E6;
    padding-top: 23px;
    height: 65px;
}

.header__link {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1.09091px;
}

.header__link:hover {
    font-size: 16px;
    color: var(--red-color);
    transition: 0.5s;
}

.header__link:not(:last-child) {
    margin-right: 40px;
}

.header__burger {
    position: relative;
    display: none;
    height: 2px;
    width: 25px;
    background: var(--dark-grey-color);
}

.header__burger::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 25px;
    bottom: 5px;
    background: var(--dark-grey-color);
}

.header__burger::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 25px;
    top: 5px;
    background: var(--dark-grey-color);
}
/* HEADER SECTION */

/* ABOUT SECTION */
.about {
    padding-top: 57px;
}

.about__title {
    position: relative;
    text-align: center;
}

.about__title::before {
    content: "";
    position: absolute;
    background: red;
    height: 2px;
    width: 50px;
    bottom: -10px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.about__grid {
    column-gap: 12px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.about__card {
    padding-top: 60px;
    height: 300px;
}

.card__title {
    color: var(--dark-grey-color);
    max-width: 405px;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.1875px;
}

.card__desc {
    margin-top: 30px;
    max-width: 405px;
    color: var(--dark-grey-color);
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.1875px;
}

.about__card-right {
    column-gap: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card__right-part {
    box-shadow: 12px 18px 24px 8px rgba(0,0,0,0.36);
    -webkit-box-shadow: 12px 18px 24px 8px rgba(0,0,0,0.36);
    -moz-box-shadow: 12px 18px 24px 8px rgba(0,0,0,0.36);
    height: 225px;
    border-radius: 15px;
}

.card__right-part:hover {
   cursor: pointer;
}

.card__one {
    background: url("../images/card-1.jpg") no-repeat center/cover;
}

.card__two {
    background: url("../images/card-2.jpg") no-repeat center/cover;
}

.card__three {
    background: url("../images/card-3.jpg") no-repeat center/cover;
}

.card__sm-desc {
    margin: 23px 12px;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.1875px;
    color: var(--light-color);
}
/* ABOUT SECTION */

/* BTN SECTION */
.btn {
    margin-top: 120px;
}

.btn__title {
    position: relative;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 2.30625px;
    color: var(--dark-grey-color);
}

.btn__title::before {
    content: "";
    position: absolute;
    background:var(--red-color);
    height: 2px;
    width: 50px;
    bottom: 5px;
}

.btn__desc {
    max-width: 420.4px;
    color: var(--dark-grey-color);
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 0.2px;
}

.btn__btn {
    cursor: pointer;
    border-radius: 10px;
    height: 50px;
    width: 170px;
    background: var(--red-color);
    color: var(--light-color);
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.btn__btn:hover {
    transition: 1s;
    background: linear-gradient(to bottom right, #ff0000 0%, #ff33cc 100%);
}

.btn__sm-btn {
    margin-top: 30px;
    cursor: pointer;
    border-radius: 10px;
    height: 50px;
    width: 170px;
    background: var(--red-color);
    color: var(--light-color);
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    display: none;
}

.btn__sm-btn:hover {
    transition: 1s;
    background: linear-gradient(to bottom right, #ff0000 0%, #ff33cc 100%);
}
/* BTN SECTION */

/* SERVICES */
.services {
    padding-top: 76px;
}

.services__grid {
    column-gap: 28px;
    display: grid;
    grid-template-columns: repeat(3, 300px);
}

.services__card {
    box-shadow: 7px 8px 27px 7px rgba(0,0,0,0.36);
    -webkit-box-shadow: 7px 8px 27px 7px rgba(0,0,0,0.36);
    -moz-box-shadow: 7px 8px 27px 7px rgba(0,0,0,0.36);
    border-radius: 7px;
    border: 1px solid #E6E6E6;
    padding: 38px 23px;
    height: 330px;
}

.services__card:hover {
    transition: 1s;
    background: linear-gradient(to bottom right, #ff0000 0%, #ff66ff 100%);
}

.services__card:hover .services__title {
    transition: 2s;
    color: var(--light-color);
}

.services__card:hover .services__desc {
    transition: 3s;
    color: var(--light-color);
}

.services__title {
    margin: 25px 0 13px 0;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.426667px;
    color: var(--dark-grey-color);
}

.services__desc {
    color: var(--dark-grey-color);
    letter-spacing: 0.1875px;
    font-size: 13px;
    line-height: 23px;
}
/* SERVICES */

/* END SECTION */
.end {
    margin-top: 115px;
    background: url("../images/bg2.jpg") no-repeat center/cover;
    width: 100%;
    height: 70vh;
}

.end__content {
    padding-top: 120px;
    text-align: center;
}

.end__title {
    font-size: 30px;
    letter-spacing: 0.15px;
    line-height: 36px;
    color: var(--dark-grey-color);
    margin-bottom: 35px;
}

.end__btn {
    cursor: pointer;
    border-radius: 10px;
    height: 40px;
    width: 170px;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.5px;
    background: var(--red-color);
    color: var(--light-color);
}


.end__btn:hover {
    background: linear-gradient(to bottom right, #ff0000 0%, #ff33cc 100%);
}

/* END SECTION */

/* SUNRISE SECTION */
.sunrise {
    background: #171819;
    width: 100%;
    height: 100px;
}

.sunrise__container {
    max-width: 705px;
    padding: 0 10px;
    margin: 0 auto;
}

.sunrise__title {
    letter-spacing: 0.846154px;
    font-size: 22px;
    line-height: 26px;
    color: var(--light-color);
    margin-top: 35px;
}

.sunrice__content {
    margin-top: 35px;
}

.sunrise__input {
    border-radius: 10px 0 0 10px;
    height: 40px;
    width: 250px;
}

.sunrise__btn {
    border-radius: 0 10px 10px 0;
    height: 40px;
    width: 170px;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.5px;
    color: var(--light-color);
    background: var(--red-color);
    cursor: pointer;
}

.sunrise__btn:hover {
    background: linear-gradient(to bottom right, #ff0000 0%, #ff33cc 100%);
}
/* SUNRISE SECTION */

/* FOOTER */
.footer {
    height: 240px;
    background: #141A20;
}

.footer__grid {
    column-gap: 71px;
    padding: 42px 0 0;
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr;
}

.footer__sm-desc {
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.846154px;
    color: var(--light-color);
}

.footer__logo {
    margin: 19px 0 16px; 
}

.footer__desc {
    font-size: 11px;
    line-height: 19px;
    letter-spacing: 0.85px;
    color: var(--light-color);
}

.footer__nav {
    display: flex;
    flex-direction: column;
}

.footer__nav:not(:first-child) {
    margin-bottom: -110px;
}

.footer__link {
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 0.846154px;
    color: var(--light-color);
    text-transform: uppercase;
}

.footer__link:first-child {
    margin-top: 10px;
}

.footer__link:hover {
    color: var(--red-color);
    transition: 0.5s;
    font-size: 14px;
}

.footer__right-nav {
    margin-top: 25px;
    margin-left: 200px;
}


.link__adress {
    font-size: 10px;
}

.link__adress:hover {
    font-size: 11px;
}

.link__noumber {
    margin: 10px 0;
}

.link__email {
    font-size: 12px;
    text-transform: lowercase;
}

.footer__sm-logo {
    margin-top: 20px;
}
    
.footer__sm-logo a {
    display: block;
    max-width: 10px;
}

/* FOOTER */

/* KONSTRUCT SECTION*/
.konstruct {
    background: #171819;
    height: 60px;
}

.konstruct__desc {
    padding-top: 22px;
    color: var(--light-color);
    text-align: center;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.846154px;
}
/* KONSTRUCT SECTION*/




